NODE_ENV_SERVER_PASSWORD = Server Password
NODE_ENV_SERVER_HOST= Server Host Name
NODE_ENV_SERVER_USER= User Name
NODE_ENV_SERVER_DATABASE=Database Name
NODE_ENV_SERVER_PORT= Port Number

NODE_ENV_OPENAI_API_KEY = Open AI API Key