.App {
  text-align: center;
  background-color: #1976d2;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.page-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 80%;
  width: 80%;
  border-radius: 5px;
  padding: 24px 24px;
  justify-content: flex-start;
  gap: 16px;
}

.chat-window {
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    gap: 18px;
    overflow: scroll;
}

.chat-message {
    text-align: left;
    padding: 12px;
    border-radius: 5px;
    width: fit-content;
    max-width: 350px;
    display: flex;
}

.chat-user {
  background-color: #E0E0E0;
}

.chat-bot {
  background-color: #1976d2;
  color: white;
}

.chat-text {
  padding: 0;
  margin: 0;
}

.input-container {
  display: flex;
  gap: 16px;

}

.answer-container {
  height: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  overflow: scroll;
}

.answer-container:hover {
  border: 1px solid black;
}

.answer-container-text {
  display: flex;
  justify-content: flex-start;
  padding: 0px 14px;
}

.submit-button{
  height: 56px;
  width: 150px;
}